[Unit]
Description=VDDK Libraries Synchronization Service
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/etc/pf9/sync-agents.sh
User=root
Group=root

[Install]
WantedBy=multi-user.target