apiVersion: vjailbreak.k8s.pf9.io/v1alpha1
kind: OpenstackCreds
metadata:
  name: sapmo1
spec:
  OS_AUTH_URL: <>
  OS_DOMAIN_NAME: Default
  OS_USERNAME: <>
  OS_PASSWORD: <>
  OS_REGION_NAME: cspmo
  OS_TENANT_NAME: service
---
apiVersion: vjailbreak.k8s.pf9.io/v1alpha1
kind: VMwareCreds
metadata:
  name: pnapbmc1
spec:
  VCENTER_HOST: <>
  VCENTER_INSECURE: true
  VCENTER_PASSWORD: <>
  VCENTER_USERNAME: <>
---
apiVersion: vjailbreak.k8s.pf9.io/v1alpha1
kind: Migration
metadata:
  labels:
    app.kubernetes.io/name: migration
    app.kubernetes.io/managed-by: kustomize
  name: vm-migration-sample
spec:
  source:
    vmwareref: pnapbmc1
    datacenter: PNAP BMC
    ostype: windows
    virtiowindriver: https://fedorapeople.org/groups/virt/virtio-win/direct-downloads/archive-virtio/virtio-win-0.1.189-1/virtio-win-0.1.189.iso
    virtualmachines:
    - dev test1
    - dev test2
  destination:
    openstackref: sapmo1
    networknames: 
    - vlan-218-uservm-network-1
---
