artifacts/*
image_builder/deploy/*
k8s/migration/dist/*
k8s/migration/vendor/*
v2v-helper/vendor/*
pkg/vpwned/vendor/*
pkg/common/vendor/*
k8s/migration/manager
v2v-helper/manager
bin/*
bin/*
.vite
.env
.env.local
.vscode
node_modules
openstack.rc
.qodo
pkg/vpwned/bin/vpwctl
proto_dependencies
.worktrees
