artifacts/*
image_builder/deploy/*
k8s/migration/dist/*
k8s/migration/vendor/*
v2v-helper/vendor/*
v2v-helper/manager
pkg/vpwned/vendor/*
bin/*
.vite
.env
.env.local
.vscode
node_modules
openstack.rc
.qodo
