# Mark generated protobuf files as generated code
# This tells GitHub/reviewers to collapse these files by default
*.pb.go linguist-generated=true
*.pb.gw.go linguist-generated=true
*_grpc.pb.go linguist-generated=true
