
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: vpwned-sdk
  name: migration-vpwned-sdk
  namespace: migration-system
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: vpwned-sdk
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: vpwned-sdk
    spec:
      containers:
      - envFrom:
        - configMapRef:
            name: pf9-env
        image: quay.io/platform9/vjailbreak-vpwned:update-manifests-46a902f8
        imagePullPolicy: IfNotPresent
        name: vpwned
        ports:
        - containerPort: 3001
          protocol: TCP
        resources: {}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        volumeMounts:
        - mountPath: /etc/hosts
          name: hosts-file
          readOnly: true
        - mountPath: /home/ubuntu
          name: vddk-storage
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      serviceAccountName: migration-controller-manager
      terminationGracePeriodSeconds: 30
      volumes:
      - hostPath:
          path: /etc/hosts
          type: File
        name: hosts-file
      - hostPath:
          path: /home/ubuntu
          type: DirectoryOrCreate
        name: vddk-storage
---