---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.17.1
  name: storagearraymappings.vjailbreak.k8s.pf9.io
spec:
  group: vjailbreak.k8s.pf9.io
  names:
    kind: StorageArrayMapping
    listKind: StorageArrayMappingList
    plural: storagearraymappings
    singular: storagearraymapping
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.validationStatus
      name: Status
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: It defines mappings between VMware datastores and backend storage
          arrays,
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            properties:
              arrays:
                items:
                  properties:
                    credentialsSecret:
                      type: string
                    iscsi:
                      properties:
                        port:
                          type: integer
                        targets:
                          items:
                            type: string
                          type: array
                      type: object
                    managementEndpoint:
                      type: string
                    name:
                      type: string
                    type:
                      type: string
                  required:
                  - credentialsSecret
                  - managementEndpoint
                  - name
                  - type
                  type: object
                type: array
              datastores:
                items:
                  properties:
                    arrayName:
                      type: string
                    arrayType:
                      description: 'ArrayType is the vendor type of the storage array
                        (example: "pure", "netapp")'
                      type: string
                    name:
                      type: string
                  required:
                  - arrayName
                  - arrayType
                  - name
                  type: object
                type: array
            required:
            - arrays
            - datastores
            type: object
          status:
            properties:
              arrays:
                items:
                  properties:
                    error:
                      type: string
                    lastChecked:
                      format: date-time
                      type: string
                    name:
                      type: string
                    reachable:
                      type: boolean
                    version:
                      type: string
                  required:
                  - name
                  - reachable
                  type: object
                type: array
              validationMessage:
                type: string
              validationStatus:
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
