---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.17.1
  name: rollingmigrationplans.vjailbreak.k8s.pf9.io
spec:
  group: vjailbreak.k8s.pf9.io
  names:
    kind: RollingMigrationPlan
    listKind: RollingMigrationPlanList
    plural: rollingmigrationplans
    singular: rollingmigrationplan
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: RollingMigrationPlan is the Schema for the rollingmigrationplans
          API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: RollingMigrationPlanSpec defines the desired state of RollingMigrationPlan
            properties:
              advancedOptions:
                description: AdvancedOptions is a list of advanced options for the
                  migration
                properties:
                  granularNetworks:
                    description: GranularNetworks is a list of networks to be migrated
                    items:
                      type: string
                    type: array
                  granularPorts:
                    description: GranularPorts is a list of ports to be migrated
                    items:
                      type: string
                    type: array
                  granularVolumeTypes:
                    description: GranularVolumeTypes is a list of volume types to
                      be migrated
                    items:
                      type: string
                    type: array
                type: object
              bmConfigRef:
                description: BMConfigRef is the reference to the BMC credentials
                properties:
                  name:
                    default: ""
                    description: |-
                      Name of the referent.
                      This field is effectively required, but due to backwards compatibility is
                      allowed to be empty. Instances of this type with an empty value here are
                      almost certainly wrong.
                      More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                    type: string
                type: object
                x-kubernetes-map-type: atomic
              cloudInitConfigRef:
                description: CloudInitConfigRef is the reference to the cloud-init
                  configuration
                properties:
                  name:
                    description: name is unique within a namespace to reference a
                      secret resource.
                    type: string
                  namespace:
                    description: namespace defines the space within which the secret
                      name must be unique.
                    type: string
                type: object
                x-kubernetes-map-type: atomic
              clusterSequence:
                description: ClusterSequence is the sequence of vCenter clusters to
                  be migrated
                items:
                  properties:
                    clusterName:
                      description: ClusterName is the name of the vCenter cluster
                        to be migrated
                      type: string
                    vmSequence:
                      description: VMSequence is the sequence of virtual machines
                        to be migrated
                      items:
                        properties:
                          esxiName:
                            description: ESXiName is the name of the ESXi host where
                              the virtual machine is located
                            type: string
                          vmName:
                            description: VMName is the name of the virtual machine
                              to be migrated
                            type: string
                        required:
                        - vmName
                        type: object
                      type: array
                  required:
                  - clusterName
                  - vmSequence
                  type: object
                type: array
              firstBootScript:
                default: echo "Add your startup script here!"
                type: string
              migrationStrategy:
                description: MigrationStrategy is the strategy to be used for the
                  migration
                properties:
                  adminInitiatedCutOver:
                    default: false
                    type: boolean
                  dataCopyStart:
                    format: date-time
                    type: string
                  healthCheckPort:
                    default: "443"
                    type: string
                  performHealthChecks:
                    default: false
                    type: boolean
                  type:
                    enum:
                    - hot
                    - cold
                    type: string
                  vmCutoverEnd:
                    format: date-time
                    type: string
                  vmCutoverStart:
                    format: date-time
                    type: string
                required:
                - type
                type: object
              migrationTemplate:
                description: MigrationTemplate is the template to be used for the
                  migration
                type: string
              retry:
                description: Retry the migration if it fails
                type: boolean
              vmMigrationPlans:
                description: VMMigrationPlans is the reference to the VM migration
                  plan
                items:
                  type: string
                type: array
            required:
            - bmConfigRef
            - clusterSequence
            - migrationStrategy
            - migrationTemplate
            type: object
          status:
            description: RollingMigrationPlanStatus defines the observed state of
              RollingMigrationPlan
            properties:
              currentCluster:
                description: CurrentCluster is the name of the current vCenter cluster
                  being migrated
                type: string
              currentESXi:
                description: CurrentESXi is the name of the current ESXi host being
                  migrated
                type: string
              currentVM:
                description: CurrentVM is the name of the current virtual machine
                  being migrated
                type: string
              failedClusters:
                description: FailedClusters is the list of vCenter clusters that have
                  failed to migrate
                items:
                  type: string
                type: array
              failedESXi:
                description: FailedESXi is the list of ESXi hosts that have failed
                  to migrate
                items:
                  type: string
                type: array
              failedVMs:
                description: FailedVMs is the list of virtual machines that have failed
                  to migrate
                items:
                  type: string
                type: array
              message:
                description: Message is the message associated with the current state
                  of the migration
                type: string
              migratedClusters:
                description: MigratedClusters is the list of vCenter clusters that
                  have been migrated
                items:
                  type: string
                type: array
              migratedESXi:
                description: MigratedESXi is the list of ESXi hosts that have been
                  migrated
                items:
                  type: string
                type: array
              migratedVMs:
                description: MigratedVMs is the list of virtual machines that have
                  been migrated
                items:
                  type: string
                type: array
              phase:
                description: Phase is the current phase of the migration
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
