---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.17.1
  name: migrationtemplates.vjailbreak.k8s.pf9.io
spec:
  group: vjailbreak.k8s.pf9.io
  names:
    kind: MigrationTemplate
    listKind: MigrationTemplateList
    plural: migrationtemplates
    singular: migrationtemplate
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: MigrationTemplate is the Schema for the migrationtemplates API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: MigrationTemplateSpec defines the desired state of MigrationTemplate
            properties:
              destination:
                description: MigrationTemplateDestination defines the destination
                  details for the migrationtemplate
                properties:
                  openstackRef:
                    type: string
                required:
                - openstackRef
                type: object
              networkMapping:
                type: string
              source:
                description: MigrationTemplateSource defines the source details for
                  the migrationtemplate
                properties:
                  vmwareRef:
                    type: string
                required:
                - vmwareRef
                type: object
              storageMapping:
                type: string
              virtioWinDriver:
                type: string
            required:
            - destination
            - networkMapping
            - source
            - storageMapping
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
