resources:
- k8s.svc.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- name: vpwned
  newName: quay.io/platform9/vjailbreak-vpwned
  newTag: origin/1410-vmware-tool-removal-script-winserver-12-16-19-32383c2c
