resources:
- k8s.svc.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- name: vpwned
  newName: quay.io/platform9/vjailbreak-vpwned
  newTag: 1410-vmware-tool-removal-script-9b6e08a2
