# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
# mock-json-server
*.local
config.js

# TypeScript build cache
tsconfig.tsbuildinfo

# Editor directories and files
mock-json-server/*
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env


.github/instructions/kluster-code-verify.instructions.md
.kluster
