---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  - pods
  - secrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - nodes
  verbs:
  - delete
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - pods/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - batch
  resources:
  - jobs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - vjailbreak.k8s.pf9.io
  resources:
  - migrationplans
  - migrations
  - migrationtemplates
  - networkmappings
  - openstackcreds
  - storagemappings
  - vjailbreaknodes
  - vmwareclusters
  - vmwarecreds
  - vmwarehosts
  - vmwaremachines
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - vjailbreak.k8s.pf9.io
  resources:
  - migrationplans/finalizers
  - migrationtemplates/finalizers
  - networkmappings/finalizers
  - openstackcreds/finalizers
  - storagemappings/finalizers
  - vjailbreaknodes/finalizers
  - vmwarecreds/finalizers
  verbs:
  - update
- apiGroups:
  - vjailbreak.k8s.pf9.io
  resources:
  - migrationplans/status
  - migrations/status
  - migrationtemplates/status
  - networkmappings/status
  - openstackcreds/status
  - storagemappings/status
  - vjailbreaknodes/status
  - vmwarecreds/status
  - vmwaremachines/status
  verbs:
  - get
  - patch
  - update
