---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - pods/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - vjailbreak.k8s.pf9.io
  resources:
  - migrationplans
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - vjailbreak.k8s.pf9.io
  resources:
  - migrationplans/finalizers
  verbs:
  - update
- apiGroups:
  - vjailbreak.k8s.pf9.io
  resources:
  - migrationplans/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - vjailbreak.k8s.pf9.io
  resources:
  - migrations
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - vjailbreak.k8s.pf9.io
  resources:
  - migrations/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - vjailbreak.k8s.pf9.io
  resources:
  - migrationtemplates
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - vjailbreak.k8s.pf9.io
  resources:
  - migrationtemplates/finalizers
  verbs:
  - update
- apiGroups:
  - vjailbreak.k8s.pf9.io
  resources:
  - migrationtemplates/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - vjailbreak.k8s.pf9.io
  resources:
  - networkmappings
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - vjailbreak.k8s.pf9.io
  resources:
  - networkmappings/finalizers
  verbs:
  - update
- apiGroups:
  - vjailbreak.k8s.pf9.io
  resources:
  - networkmappings/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - vjailbreak.k8s.pf9.io
  resources:
  - openstackcreds
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - vjailbreak.k8s.pf9.io
  resources:
  - openstackcreds/finalizers
  verbs:
  - update
- apiGroups:
  - vjailbreak.k8s.pf9.io
  resources:
  - openstackcreds/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - vjailbreak.k8s.pf9.io
  resources:
  - storagemappings
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - vjailbreak.k8s.pf9.io
  resources:
  - storagemappings/finalizers
  verbs:
  - update
- apiGroups:
  - vjailbreak.k8s.pf9.io
  resources:
  - storagemappings/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - vjailbreak.k8s.pf9.io
  resources:
  - vjailbreaknodes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - vjailbreak.k8s.pf9.io
  resources:
  - vjailbreaknodes/finalizers
  verbs:
  - update
- apiGroups:
  - vjailbreak.k8s.pf9.io
  resources:
  - vjailbreaknodes/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - vjailbreak.k8s.pf9.io
  resources:
  - vmwarecreds
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - vjailbreak.k8s.pf9.io
  resources:
  - vmwarecreds/finalizers
  verbs:
  - update
- apiGroups:
  - vjailbreak.k8s.pf9.io
  resources:
  - vmwarecreds/status
  verbs:
  - get
  - patch
  - update
